name: Build Qt Project

on:
  pull_request:
    branches: "main"

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        qt_version: [6.9.0]
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ matrix.qt_version }}
          # cache: true # Optional: Setup caching for faster builds
          # modules: 'qtcharts qtwebengine' # Optional: Add specific Qt modules here if needed

      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libgl1-mesa-dev ninja-build libxkbcommon-x11-0 libvulkan1

      - name: Configure CMake
        shell: bash
        run: |
          cmake -S ${{ github.workspace }}/src -B ${{ github.workspace }}/src/build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        shell: bash
        run: |
          cmake --build ${{ github.workspace }}/src/build --config Release
